body {
  padding: 32px;
}

main {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.calculator {
  width: calc((40px + 8px) * 4 - 8px + 32px);
  margin: 0 auto;
  padding: 16px;
  background: #ddd;
}

.result {
  width: 100%;
  padding: 2px 8px;
  border: solid 1px black;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.control {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.btn {
  width: 40px;
  height: 40px;
  background: skyblue;
  border: solid black 1px;
  box-shadow: 0 4px rgb(77, 131, 153);
  user-select: none;
}

.btn:active {
  opacity: .6;
  transform: translateY(3px);
  box-shadow: 0 1px rgb(77, 131, 153);
}

.btn.select {
  opacity: .6;
  transform: translateY(3px);
  box-shadow: 0 1px rgb(77, 131, 153);
}

.mul {
  display: inline-block;
  transform: rotate(45deg);
}

.flex2 {
  flex: 2;
}

.memo-container {
  display: flex;
  flex-direction: column;
}

.memo {
  width: 200px;
  margin: 32px 0;
  font-size: 20px;
}

.memo-clear {
  margin: 0 auto;
  padding: 4px 8px;
  border-radius: 8px;
  background: rgb(255, 85, 85);
  font-size: 14px;
}

@media (max-width: 480px) {
  main {
    display: block;
    text-align: center;
  }

  .memo {
    margin: 32px auto;
  }
}
